.pembayaran{
    max-width: 1250px;
    min-width: 900px;
}

/* index */

.pembayaran .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pembayaran .title span{
    font-size: 12px;
}