.siswa{
    max-width: 1250px;
    min-width: 900px;
}

/* index */

.siswa .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.siswa .title span{
    font-size: 12px;
}

.siswa .table-siswa{
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}

.siswa .table-siswa .siswa-action .search-box{
    width: 100%;
    max-width: 350px;
    display: flex;
    position: relative;
}

.siswa .table-siswa .siswa-action .search-box input{
    background: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 10px 20px;
    width: 350px;
}

.siswa .table-siswa .siswa-action .search-box button{
    position: absolute;
    top: 4%;
    right: 2px;
    background: #007bff;
    border: none;
    padding: 9px 14px;
    border-radius: 100%;
    color: white;
    transition: all .1s ease;
}

.siswa .table-siswa .siswa-action .search-box button:hover{
    background: rgba(0, 123, 255, .8);
    transform: scale(1.1);
}

/* create siswa */

.siswa .create-siswa{
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}

.siswa .create-siswa .form-input input:not(#pass,#image){
    border: 1px solid rgba(0, 0, 0, .2);
    background: transparent;
    color: rgba(0, 0, 0, .8);
}

.siswa .create-siswa .form-input input.is-invalid:not(#pass,#image){
    box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.7) !important;
    border: 2px solid rgba(255, 30, 30, 0.4) !important;
}

.siswa .create-siswa .form-input input:focus:not(#pass,#image), .siswa .create-siswa .form-input:valid:not(#pass,#image){
    box-shadow:0px 0px 8px rgba(0, 123, 255,.7) !important;
    border: 2px solid rgba(0, 123, 255,.4) !important;
}

.siswa .create-siswa .form-input.is-invalid input:focus:not(#pass,#image), .siswa .create-siswa .form-input:valid:not(#pass,#image){
    border: 2px solid rgba(255, 0, 0, 0.5) !important;
}

.siswa .create-siswa .form-input .inputPassword{
    position: relative;
    display: flex;
    align-items: center;
}

.siswa .create-siswa .form-input #showPassword{
    cursor: pointer;
    position: absolute;
    right: 10px;
    transform: scale(1);
    transition: .2s;
}

.siswa .create-siswa .form-input #showPassword:hover{
    transform: scale(1.1);
}

.siswa .create-siswa .form-input #showPassword:active{
    transform: scale(.9);
}

.siswa .create-siswa .form-input .img-preview{
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .1);
}

/* show siswa */

.siswa .data-user .left{
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .1);

}

.siswa .data-user .left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    
}

/* show siswa */
